body, p {
	margin: 0px;
	padding: 0px;
}

.main {
	padding: 20px;
}

.stageWrapper {
	position: relative;
	
	width: 800px;
	height: 800px;
	
	border: 1px solid black;
	
	margin: auto;
	
	overflow: hidden;
}

.notice {
	position: absolute;
	
	width: 800px;
	height: 200px;
	
	top: 300px;

	text-align: center;
	
	line-height: 200px;
	
	font-size: 130px;	
	font-weight: bold;
}

.read {
	position: absolute;
}

#ip {
	width: 300px;
}

#ipSelect {
	width: 150px;
}

#frameSelect {
	width: 300px;
}