html, body {
    height: 100%;
    background-color: #F0F0F0;
}

.chat-container {
    height: 100%;
}

.chat-messages {
    height: calc(90vh - 150px);
    overflow-y: auto;
}

.message {
    max-width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.message.sent {
    background-color: #eef8ff;
    margin-left: auto;
}

.message.received {
    background-color: #F0F0F0;
}

.bg-go {
    background-color: #00a7d0;
    border-color: #00a7d0;
}

.btn-go {
    background-color: #00a7d0;
    border-color: #00a7d0;
}

.btn-go:hover, .btn-go:focus {
    background-color: #00639b;
    border-color: #00639b;
}

.timestamp {
    font-size: 0.8em;
    color: #888;
    margin-top: 2px;
}