@font-face {
    font-family: 'Gallant';
    src: url(../resources/font/GALLANT.ttf) format('truetype');
}

html {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    cursor: url('../resources/ui/cross.png') 18 18, auto;
}

.uiBox {
    position: absolute;

    display: flex;
    justify-content: center;

    background-color: #1E1E1E;

    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
}

.uiButton {
    font-family: 'Gallant';
    font-weight: bold;
    font-size: 30px;

    color: #f0f8ff;
    background-color: rgba(0, 0, 0, 0);

    align-self: center;

    display: block;

    margin: 10px;
}

.viewBox {
    transition-duration: 2s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;

    opacity: 0;
    z-index: 1;
}

.hide {
    display: none;
}

#startBtn {
    font-size: 30px;
}

#startBtn:hover {
    font-size: 120px;
}